// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 600px;
$layout_bp_desktop: 1000px;

$dark-gray: #121212;
$light-gray: #b3b3b3;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}

@font-face {
  font-family: 'CircularSp';
  src: url('assets/fonts/CircularSp-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularSp-Bold';
  src: url('assets/fonts/CircularSp-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularSpTitle-black';
  src: url('assets/fonts/CircularSpTitle-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularSpTitle-bold';
  src: url('assets/fonts/CircularSpTitle-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'spoticon_regular';
  src: url('assets/fonts/spoticon_regular.woff2') format('woff2');
}

// SCSS Styles
input, textarea, button {
  font-family: inherit;
}
* {
  margin: 0;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  font-family: CircularSp,sans-serif,"Helvetica Neue",Helvetica,Arial,"Hiragino Kaku Gothic ProN",Meiryo,"MS GothicHelvetica";
  font-size: .95rem;
}

.bg-container {
  background-color: $dark-gray;
  color: white;
  border-radius: .5rem;
  margin: .3rem 0;
}

@include tablet {
  body {
    font-size: 1rem;
  }

  .bg-spacer {
    padding: 1rem;
  }

  .container-height {
    border-radius: .5rem;
    min-height: 608px;
    height: 98vh;
  }

  .scroll-style {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scroll-style::-webkit-scrollbar {
    display: none;
  }
}
