// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 600px;
$layout_bp_desktop: 1000px;

$dark-gray: #121212;
$light-gray: #b3b3b3;
$black: black;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}

#main {
  display: flex;
  flex-flow: column wrap;
}

#nav-bar { 
  flex: 0 1 4.5rem;
}

#content {
  flex: 999 0 0;
}

@include tablet {
  #main {
    height: 98vh;
    flex-flow: row wrap;
    gap: .5rem;
    margin: 5px;
  }

  #nav-bar {
    flex: 1 1 25rem;
  }
}

