// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 600px;
$layout_bp_desktop: 1000px;

$dark-gray: #121212;
$light-gray: #b3b3b3;
$black: black;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}

// SCSS Styles


#nav {
  display: flex;
  height: auto;
  background-color: $black;
  justify-content: space-between;
  padding: .6rem 0;
  font-weight: bold;
  font-size: 1.1rem;
}

button {
  background-color: white;
  color: $black;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
}

svg {
  height: 1.6rem;
}

.logo {
  fill: white;
}
#spotify-link a {  
    gap: .3rem;
}

.nav-link {
  padding: 1rem;

  a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: white;
  }
}

.home-icon,
.home-active-icon,
.closebtn,
.overlay-content {
  display: none;
}

.menu-icon {
  padding: 1rem;
  font-size: 1.5rem;

  a {
    color: #a7a7a7;
    text-decoration: none;
  }
}

#nav.responsive {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  /*background-color: rgba(0,0,0, 0.9);*/
  overflow: hidden;
  transition: 0.5s;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .nav-link {
    padding: 0;
  }

  #spotify-link,
  .menu-icon {
    display: none;
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    display: block;
    color: #818181;
    text-decoration: none;
  }

  .closebtn:hover, .closebtn:focus {
    color: #f1f1f1;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    display: block;

    a,
    button {
      padding: .5rem;
      text-decoration: none;
      font-size: 2.2rem;
      color: #818181;
      display: block;
      transition: 0.3s;
      float: none;
      background-color: transparent;
    }

    a:hover,
    a:focus,
    button:hover,
    button:focus {
      color: #f1f1f1;
    }
  }
}

#nav.responsive::-webkit-scrollbar {
  display: none;
}

@include tablet {
  #nav {
    width: auto;
    position: relative;
    overflow: auto;
    background-color: $dark-gray;
    flex-flow: column;
    justify-content: normal;
  }

  .overlay-content {
    display: block;
  }

  button {
    display: block;
    float: none;
    margin: .6rem 1.4rem;
  }

  #home {
    color: #a7a7a7;

    svg {
      vertical-align: middle;
    }

    svg.home-active-icon {
      display: none;
    }

    svg.home-icon {
      display: flex;
    }
  }

  #home.active {
    color: white;

    svg.home-icon {
      display: none;
    }

    svg.home-active-icon {
      display: flex;
    }
  }

  #home:hover {
    svg,span {
      fill: white;
      color: white;
    }
}
  .menu-icon {
    display: none;
  }

  .home-icon {
    display: none;
    fill: #a7a7a7;
  }

  .home-active-icon {
    display: flex;
    fill: white;
  }

  .nav-link {
    padding: .6rem 1.4rem;
  }
}
