// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 600px;
$layout_bp_desktop: 1000px;

$dark-gray: #121212;
$light-gray: #b3b3b3;
$black: black;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}

#library-nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: space-between;
  color: #a7a7a7;
  padding: 1rem;
  gap: 1rem;
}

.library-icon {
  height: 1.5rem;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 700;
  fill: #a7a7a7;
}

.download-icon {
  fill: #a7a7a7;
  width: 1.4rem;
  height: 1.4rem;
}

.download-icon:hover {
  fill: white;
}

.playlists-nav {
  display: flex;
  padding: .3rem;

  img {
    margin-right: .75rem;
  }

  span {
    vertical-align: top;
    padding: .1rem;
  }
}

.collapse-icon {
  height: 1.4rem;
  width: 1.4rem;
  fill: #a7a7a7;

  svg {
    transform: rotate(-90deg);
    transition: .3s transform ease-in-out;
  }

  svg.pl_collapse {
    transform: rotate(0deg);
  }
}

.collapse-icon:hover {
  cursor: pointer;
  fill: white;
}

.pl-list {
  max-height: 19rem;
  transition: max-height .25s ease-in-out;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 1rem;
}

.pl-list::-webkit-scrollbar {
  display: none;
}

.pl-list.pl_collapse {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

#library-nav div ul {
  list-style-type: none;
  padding: 0;

  li {
    border-radius: .3rem;
  }

  li:hover {
    cursor: pointer;
    background-color: #1a1a1a;
  }

  li.active {
    background-color: #232323;
  }
}

#library {
  display: flex;
  gap: .5rem;
}

@include tablet { 
  .pl-list, .pl-list.pl_collapse {
    max-height: none;
    min-height: 301px;
    height: calc(100vh - 248px);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .pl-list::-webkit-scrollbar {
    display: none;
  }

  .collapse-icon {
    display: none;
  }
}
